<div class="col-sm-3">
    <div class="panel panel-primary" >

        <h3 class="panel-heading panel-title">
            Kontrolki...
        </h3>

        <div class="panel-body" >

        </div>

        <div class="panel-footer">
            <button ng-click="loadPosts()">Load post data</button>
            <span>
                Status:  <br>
            </span>
        </div>
    </div>
</div>

<!-- Szczegóły egzaminu -->
<div class="col-sm-9">

    <div class="panel panel-primary" >

        <h3 class="panel-heading panel-title">
            Panel główny
        </h3>

        <div class="panel-body" >
            <p>Lorem ipsum dolor sit ...</p>

            <p> Posty: <br> {{posty}}</p>

        </div>
        <div class="panel-footer">
            Footer...
        </div>
    </div>
</div>